{% load static %}

{% include "base.html" %}
<body style="background-color : rgb(210, 221, 128);">
{% block content %}
<div class="row link-container ">
    <div class="col link room-page" style="background-color: rgb(0, 153, 255);">Room</a></div>
    <div class="col link " style="background-color: rgb(226, 185, 17);">Quiz</div>
    <div class="w-100"></div>
    <div class="col link create-quiz" style="background-color: rgb(24, 192, 136);">Create Quiz</div>
    <div class="col link create-room" style="background-color: rgb(201, 25, 54);">Create Room </div>
</div>
<script>

    $(".room-page").click(function() {
        window.location = '{% url "rooms" %}'
    })

    $(".create-quiz").click(function() {
        window.location = '{% url "create-quiz" %}'
    })
    $(".create-room").click(function() {
        window.location = '{% url "create-room" %}'
    })
 
</script>
{% endblock %}

</body>