{% include "base.html" %}
{% load static %}

{% block content %}


<p>Number of users online: <span id="user-count"></span></p>
<br>

<textarea id="chat-log" cols="50" rows="10"></textarea><br>
    <input id="chat-message-input" type="text" size="50"><br>
    <input id="chat-message-submit" type="button" value="Send">

<hr>

<button id ='start-game'>start game</button>

<hr>

<div class="container hidden" id = 'quiz-container'>
    <h1>Quiz</h1>
    <form class = 'hoang'>
    {% for question in questions %}
    <div class="card mb-4">
        <div class="card-body">
            <h2>Câu hỏi {{ question.id }}: {{ question.text }}</h2>
            <br>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="answer{{ question.id }}_1" value="{{question.answer1}}">
                    <label class="form-check-label" for="answer{{ question.id }}_1">{{ question.answer1 }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="answer{{ question.id }}_2" value="{{question.answer2}}">
                    <label class="form-check-label" for="question{{ question.id }}_2">{{ question.answer2 }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="answer{{ question.id }}_3" value="{{question.answer3}}">
                    <label class="form-check-label" for="answer{{ question.id }}_3">{{ question.answer3 }}</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.id }}" id="answer{{ question.id }}_4" value="{{question.answer4}}">
                    <label class="form-check-label" for="answer{{ question.id }}_4">{{ question.answer4 }}</label>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script >


    const roomCode = '{{room_code}}'
    const user = '{{user}}'
    console.log(user)
    const chat_log = document.getElementById('chat-log');
    const chat_input = document.getElementById('chat-message-input');
    const chat_submit = document.getElementById('chat-message-submit');
    const quiz_container = document.querySelector('.container')

    let = crrIndex = 0;


    

    const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/game/'
            + roomCode
            + '/'
        );

        
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);


            console.log(data.count)
            document.querySelector('#user-count').innerHTML = data.count;

            
            
    
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        chatSocket.onopen = function(event) {
        
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message_text': message,
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#start-game').onclick = function(e) {
                game_running()
        }

 
        document.querySelector('.hoang').addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(this);
            const formSerialized = Object.fromEntries(formData.entries());
            chatSocket.send(JSON.stringify(formSerialized));


            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                alert('chuc mung ban da nop bai thanh cong , diem cua ban la :' + data.score)
        
            };
        });



        function game_running() {
            chat_input.classList.add('hidden')
            chat_submit.classList.add('hidden')
            chat_log.classList.add('hidden')
            quiz_container.classList.remove('hidden')
        }


</script>


{% endblock%}