{% include "base.html" %}

{% block content %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <button id="create-room" class="btn btn-primary">Tạo phòng</button>
            <hr>
            <label for="room-name-input">Nhập tên phòng:</label><br>
            <input id="room-name-input" type="text" class="form-control" size="50"><br>
            <button id="room-name-submit" class="btn btn-success">Vào phòng</button>
            <hr>
        </div>
        <div class="col-md-6">
            <h2>Danh sách các phòng:</h2>
            <ul class="list-group" id="room-list">
                {% for room in rooms %}
                    {% if not room.private %}
                        <li class="list-group-item">
                            <h4>{{ room.room_name }}</h4>
                            <p>{{ room.room_code }}</p>
                            <p>Room Host :  <b>{{ room.host.username }}</b></p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/game/room/play/' + roomName + '/';
    };

    document.querySelector('#create-room').onclick = function(e) {
        window.location.pathname = '/game/room/create_room/';
    }
</script>
{% endblock %}
