@import url('https://fonts.cdnfonts.com/css/be-vietnam-pro');

.common-heading {
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: #DE8556;
}

body {
    background-color: #FFE7D4;
    font-family: 'Be VietNam Pro', cursive;
}

.del-card-form {
    margin: 20px auto 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.del-card-label {
    font-weight: 700;
    color: #DE8556;
}

.del-card-submit {
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 1000;
    font-size: 20px;
    color: #DE8556;
    text-decoration: none;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #58355E;
    background-color: #FFE7D4;
    transition: background-color 0.3s ease-in-out;
    padding: 8px 16px;
    cursor: pointer;
}

.del-card-submit:hover {
    background-color: #DE8556;
    color: #fff;
}

.del-card-textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 600;
    color: #190B28;
}

.del-card-select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 600;
    color: #190B28;
}

.error-message {
    color: red;
}

.inform-message {
    color: green;
}

.add-card-form {
    margin: 20px auto 0 auto; /* Add this line to create a top margin of 100px */
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-card-label {
    font-weight: 700;
    color: #DE8556;
}

.chat_submit {
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 1000;
    font-size: 20px;
    color: #DE8556;
    text-decoration: none;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #58355E;
    background-color: #FFE7D4;
    transition: background-color 0.3s ease-in-out;
    padding: 8px 16px;
    cursor: pointer;
}

.chat_submit:hover {
    background-color: #DE8556;
    color: #fff;
}

.lobby_textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 600;
    color: #190B28;
}

.add-card-select {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'Be VietNam Pro', cursive;
    font-weight: 600;
    color: #190B28;
}