{% extends "game/new_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'learners/game.css' %}">
<body>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <button id="create-room" class="button">Tạo phòng</button>
            <hr>
            <label for="room-name-input">Nhập tên phòng:</label><br>
            <input id="room-name-input" type="text" class="form-control" size="50"><br>
            <button id="room-name-submit" class="button">Vào phòng</button>
            <hr>
        </div>
        <div class="col-md-6">
            <h2 class = "common-heading">Danh sách các phòng:</h2>
            <ul class="list-group" id="room-list">
                {% for room in rooms %}
                    {% if not room.private %}
                        <li class="list-group-item">
                            <h4>{{ room.room_name }}</h4>
                            <p>{{ room.room_code }}</p>
                            <p>Room Host :  <b>{{ room.host.username }}</b></p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value.trim();
        if (roomName === '') {
            alert('Tên phòng không được để trống');
            document.querySelector('#room-name-input').focus();
        } else {
            window.location.pathname = '/game/room/play/' + roomName + '/';
        }
    };

    document.querySelector('#create-room').onclick = function(e) {
        window.location.pathname = '/game/room/create_room/';
    }
</script>
</body>
{% endblock %}