{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block subject_list %}
    <link rel="stylesheet" href="{% static 'learners/add_cards.css' %}">
    <div class="common-heading">
        Add card
    </div>
    <form class="add-card-form" action="{% url 'flashcards:addCard' %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
        {% if inform_message %}<p style="color:green"><strong>{{ inform_message }}</strong></p>{% endif %}

        <label class="add-card-label" for="tagName">Flashcard set: </label>
        <select class="add-card-select" id="tagName" name="tagName">
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag.name }} - {{ tag.subject }}</option>
            {% endfor %}
        </select><br><br>

        <label class="add-card-label" for="question">Question: </label>
        <textarea class="add-card-textarea" id="question" name="question" rows="4" cols="50"></textarea><br><br>

        <label class="add-card-label" for="answer">Answer: </label>
        <textarea class="add-card-textarea" id="answer" name="answer" rows="4" cols="50"></textarea><br><br>

        <input class="add-card-submit" type="submit" value="Submit">
    </form>
{% endblock %}