{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block del_tag %}
    <link rel="stylesheet" href="{% static 'learners/del_tag.css' %}">
    <div class="common-heading">Delete a Flashcard Set</div>
    <form class="del-tag-form" action="{% url 'flashcards:delTag' %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p class="error-message"><strong>{{ error_message }}</strong></p>{% endif %}
        {% if inform_message %}<p class="inform-message"><strong>{{ inform_message }}</strong></p>{% endif %}

        <label class="del-tag-label" for="tagName">Subject:</label>
        <select class="del-tag-select" id="tagName" name="tagName">
            <option value=""></option>
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag.name }} - {{ tag.subject }}</option>
            {% endfor %}
        </select><br><br>

        <input class="del-tag-submit" type="submit" value="Delete">
    </form>
{% endblock %}