<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Flashcards App</h1>
    </header>
    <main>
        <nav>
            <a href="{% url 'flashcards:topic' %}" style="margin-right: 40px;">Home</a>
            <a href="{% url 'flashcards:addTag' %}" style="margin-right: 40px;">Add a new set</a>
            <a href="{% url 'flashcards:addCard' %}" style="margin-right: 40px;">Add a new card</a>
            <a href="{% url 'flashcards:delTag' %}" style="margin-right: 40px;">Delete a set</a>
            <a href="{% url 'flashcards:delCard' %}" style="margin-right: 40px;">Delete a card</a>
        </nav>
        <hr>
        <h3>Delete a Flashcard Set:</h3>
        <form action="{% url 'flashcards:delTag' %}" method="post">
            {% csrf_token %}
            {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
            {% if inform_message %}<p style="color:green"><strong>{{ inform_message }}</strong></p>{% endif %}

            <label for="tagName">Subject: </label>
            <select id="tagName" name="tagName" style="height:50px; width:200px">
                <option value=""></option>
                {% for tag in tags %}
                    <option value="{{ tag }}">{{ tag.name }} - {{ tag.subject }}</option>
                {% endfor %}
            </select><br><br>

            <input type="submit" value="Delete">
        </form>
    </main>
</body>

</html>
