{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block del_cards %}
    <link rel="stylesheet" href="{% static 'learners/del_cards.css' %}">
    <div class="common-heading">Delete Card</div>
    <form class="del-card-form" action="{% url 'flashcards:delCard' %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p class="error-message"><strong>{{ error_message }}</strong></p>{% endif %}
        {% if inform_message %}<p class="inform-message"><strong>{{ inform_message }}</strong></p>{% endif %}

        <label class="del-card-label" for="tagName">Flashcard Set:</label>
        <select class="del-card-select" id="tagName" name="tagName">
            <option value=""></option>
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag.name }} - {{ tag.subject }}</option>
            {% endfor %}
        </select><br><br>

        <label class="del-card-label" for="question">Question:</label>
        <textarea class="del-card-textarea" id="question" name="question" rows="4" cols="50"></textarea><br><br>

        <label class="del-card-label" for="answer">Answer:</label>
        <textarea class="del-card-textarea" id="answer" name="answer" rows="4" cols="50"></textarea><br><br>

        <input class="del-card-submit" type="submit" value="Delete">
    </form>
{% endblock %}