{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block flashcards %}
    <link rel="stylesheet" href="{% static 'learners/flashcards.css' %}">
    <div class="flashcard-container">
        <div class="flashcard-header">
            <div class="common-heading">{{ Subject }}</div>
            <p class="flashcard-info"><strong>Owner: {{ owner.username }}</strong></p>
            <p class="flashcard-info"><strong>Tag: {{ tag.name }}</strong></p>
        </div>
        <div class="flashcard-button-container">
            <button id="flashcardButton" class="flashcard-button" onclick="flipFlashCard()" data-question="" data-answer="">
            </button>
        </div>
        <div class="flashcard-nav-buttons">
            <button class="nav-button prev-button" onclick="showPreviousCard()">Previous</button>
            <button class="nav-button next-button" onclick="showNextCard()">Next</button>
        </div>
    </div>
    <script>
        var flashcards = [
            {% for flashcard in flashcardList %}
                { question: "{{ flashcard.question }}", answer: "{{ flashcard.answer }}" },
            {% endfor %}
        ];

        var currentFlashcardIndex = 0;
        var flashcardButton = document.getElementById('flashcardButton');

        function showFlashcard(index) {
            flashcardButton.dataset.question = flashcards[index].question;
            flashcardButton.dataset.answer = flashcards[index].answer;
            flashcardButton.title = ""; // Remove the title attribute
            flashcardButton.innerText = flashcards[index].question;
            flashcardButton.scrollTop = 0; // Scroll to the top of the button
        }

        function showPreviousCard() {
            currentFlashcardIndex = Math.max(currentFlashcardIndex - 1, 0);
            showFlashcard(currentFlashcardIndex);
        }

        function showNextCard() {
            currentFlashcardIndex = Math.min(currentFlashcardIndex + 1, flashcards.length - 1);
            showFlashcard(currentFlashcardIndex);
        }

        function flipFlashCard() {
            var question = flashcardButton.dataset.question;
            var answer = flashcardButton.dataset.answer;
            console.log(question)
            console.log(answer)
            if (flashcardButton.innerHTML === question) {
                flashcardButton.innerHTML = answer;
                flashcardButton.scrollTop = 0; // Scroll to the top of the button
            } else {
                flashcardButton.innerHTML = question;
                flashcardButton.scrollTop = 0; // Scroll to the top of the button
            }
        }

        showFlashcard(currentFlashcardIndex);
    </script>
{% endblock %}