<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Flashcards App</h1>
    </header>
    <main>
        {% block content %}
            <h3>{{ Subject }}: </h3>
            {% if ownerList %}
                <ul>
                    {% for owner in ownerList %}
                        <li>
                            <a href="{% url 'flashcards:setList' subject=Subject username=owner.username %}">{{ owner.username }}'s Flashcard set</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock content %}
    </main>
</body>

</html>
