{% extends "learners/index.html" %}
{% load static %}

{% block flashcards %}
    <main class="choose-set">
        {% block content %}
            <nav>
                <a href="{% url 'flashcards:topic' %}" style="margin-right: 40px;">Home</a>
                <a href="{% url 'flashcards:addTag' %}" style="margin-right: 40px;">Add a new set</a>
                <a href="{% url 'flashcards:addCard' %}" style="margin-right: 40px;">Add a new card</a>
                <a href="{% url 'flashcards:delTag' %}" style="margin-right: 40px;">Delete a set</a>
                <a href="{% url 'flashcards:delCard' %}" style="margin-right: 40px;">Delete a card</a>
            </nav>
            <hr>
            <h2 about>Welcome to my Flashcards app!</h2>

            <h3>Choose subject:</h3>
            <ul>
                <li><a href="{% url 'flashcards:tagList' subject='Math' %}" class="subject-math"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='English' %}" class="subject-english"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='Literature' %}" class="subject-literature"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='Physics' %}" class="subject-physics"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='Chemistry' %}" class="subject-chemistry"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='Biology' %}" class="subject-biology"></a></li>
                <li><a href="{% url 'flashcards:tagList' subject='Others' %}" class="subject-others"></a></li>
            </ul>
        {% endblock content %}
    </main>
{% endblock flashcards %}