{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block subject_list %}
    <link rel="stylesheet" href="{% static 'learners/subject_list.css' %}">
    <h3 class="choose">Choose subject:</h3>
    <div class="subject_list">
        <li><a href="{% url 'flashcards:tagList' subject='Math' %}">Math</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='English' %}">English</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='Literature' %}">Literature</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='Physics' %}">Physics</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='Chemistry' %}">Chemistry</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='Biology' %}">Biology</a></li>
        <li><a href="{% url 'flashcards:tagList' subject='Others' %}">Others</a></li>
    </div>
{% endblock %}