{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block tag_list %}
    <link rel="stylesheet" href="{% static 'learners/tag_list.css' %}">
    <div class="tag-list-container">
        <h3 class="common-heading">{{ Subject }}</h3>
        {% if tags %}
            <div>Choose a set:</div>
            <ul class="tag-list">
                {% for tag in tags %}
                    <li>
                        <a href="{% url 'flashcards:cardList' subject=Subject tagname=tag.name %}" class="tag-box">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}