{% extends "learners/base_flashcards.html" %}
{% load static %}
{% block tag_list %}
    <link rel="stylesheet" href="{% static 'learners/tag_list.css' %}">
    <div class="tag-list-container">
        <h3>{{ Subject }}:</h3>
        {% if tags %}
            <p>Choose a set:</p>
            <ul class="tag-list">
                {% for tag in tags %}
                    <li>
                        <a href="{% url 'flashcards:cardList' subject=Subject tagname=tag.name %}" class="tag-option">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}