<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Flashcards App</h1>
    </header>
    <main>
        {% block content %}
            <nav>
                <a href="{% url 'flashcards:topic' %}" style="margin-right: 40px;">Home</a>
                <a href="{% url 'flashcards:addTag' %}" style="margin-right: 40px;">Add a new set</a>
                <a href="{% url 'flashcards:addCard' %}" style="margin-right: 40px;">Add a new card</a>
                <a href="{% url 'flashcards:delTag' %}" style="margin-right: 40px;">Delete a set</a>
                <a href="{% url 'flashcards:delCard' %}" style="margin-right: 40px;">Delete a card</a>
            </nav>
            <hr>
            <h3>{{ Subject }}: </h3>
            {% if tags %}
                <p>&ensp;Choose a set:</p>
                <ul>
                    {% for tag in tags %}
                        <li>
                            <a href="{% url 'flashcards:cardList' subject=Subject tagname=tag.name %}">{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock content %}
    </main>
</body>

</html>
