<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <header>
        <h1>Flashcards App</h1>
    </header>
    <main>
        {% block content %}
            <h2>Welcome to my Flashcards app!</h2>
            <h3>Choose topic:</h3>
            <li><a href=""> Math </a></li>
            <li><a href=""> English </a></li>
            <li><a href=""> Literature </a></li>
            <li><a href=""> Physics </a></li>
            <li><a href=""> Chemistry </a></li>
            <li><a href=""> Biology </a></li>
        {% endblock content %}
    </main>
</body>

</html>
